@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
*@

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="../Design/#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script src="/Design/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/Design/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/Design/js/ruang-admin.min.js"></script>
  <script src="/Design/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script>

      $('.simple-date2 .input-group.date').datepicker({
        startView: 1,
        format: 'dd/mm/yyyy',        
        autoclose: true,     
        todayHighlight: true,   
        todayBtn: 'linked',
      });

  </script>